.menu .dropdown-menu {
    box-shadow: 0 10px 10px 5px rgba(0,0,0,.1),0px 5px 10px 0px rgba(0,0,0,.1)
}

.dropdown-menu li.active>a,.dropdown-menu li.sub-level.active>a {
    color: #0c0d0e !important;
    background: transparent
}

.lang-jp .other-lang .first.zmenu- {
    display: block
}

.req-pop-show {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    text-align: center;
    padding: 20px 30px
}

.all-features {
    padding: 80px 20px 50px;
    border-top: 1px solid #e2e2e2;
    max-width: 1170px;
    margin: 20px auto 0
}

.all-features ul.menu {
    padding: 0;
    margin: 30px auto;
    float: none;
    max-width: 920px;
    display: block;
    overflow: hidden
}

.all-features h2,.all-features h3 {
    text-transform: uppercase;
    max-width: 920px;
    margin: 0 auto 40px;
    overflow: hidden;
    width: 90%
}

.all-features ul.menu li {
    width: 33.333%;
    min-height: 40px;
    box-sizing: border-box
}

.all-features ul.menu li a:hover,.all-features ul.menu li.active a,.all-features ul.menu li.active-trail a {
    text-decoration: underline
}

.all-features ul.menu li a {
    padding: 0 30px 0 15px;
    color: #03a9f5;
    text-transform: none;
    font-size: 15px;
    line-height: 1.6;
    position: relative;
    transition: .5s ease;
    display: inline-block
}

.all-features ul.menu li a:before {
    content: '';
    position: absolute;
    left: 0;
    top: 9px;
    border-top: 1px solid #03a9f5;
    border-right: 1px solid #03a9f5;
    width: 6px;
    height: 6px;
    transform: rotate(45deg);
    box-sizing: border-box
}

.previous-link {
    float: right;
    margin-right: 16px
}

.menu .dropdown-menu li.sub-level span a {
    padding: 7px 20px
}

.menu .dropdown-menu li.sub-level span a:before {
    content: '';
    width: 0;
    height: 0;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    border-left: 4px solid #000;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
    margin: auto
}

.dropdown-menu .sub-dropdown {
    left: 99%;
    padding: 13px 0;
    width: 150px !important;
    min-height: 514px !important
}

.request-btn {
    position: fixed;
    bottom: 10px;
    right: 15px;
    z-index: 999;
    box-shadow: 0 0 20px rgb(0 0 0 / 20%)
}

.request-btn span {
    position: relative;
    padding: 11px 42px 11px 20px;
    background: #444;
    text-align: center;
    display: block;
    color: #fff;
    cursor: pointer;
    font-size: 13px;
    border-radius: 4px;
    text-transform: uppercase;
    font-family: var(--primaryfont-semibold)
}

.request-btn span:before {
    content: '';
    position: absolute;
    right: 21px;
    top: 19px;
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-left: 0;
    border-bottom: 0;
    pointer-events: none;
    transform: rotate(-45deg)
}

body .zsiq_theme1.zsiq_floatmain {
    bottom: 74px;
    right: 15px
}

.zw-template-zp_home .freeze_layer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 40%);
    z-index: 9999;
    transition: all .5s;
    opacity: 0;
    visibility: hidden
}

.zw-template-zp_home .form-open .freeze_layer {
    opacity: 1;
    visibility: visible
}

.request-form-panel {
    width: 400px;
    padding: 60px 33px 70px;
    height: 100%;
    background-color: #490505;
    position: fixed;
    top: 0;
    bottom: 0;
    right: -500px;
    box-shadow: -7px 0 28px 0 rgb(0 0 0 / 46%);
    z-index: 9999;
    transition: all .5s;
    overflow: auto
}
.request-form-panel #z_crmwebform select,.request-form-panel #z_crmwebform textarea {
    color: #666 !important
}




div.zgdprform-state-container::after,div.zgdprform-countrylist-container::after {
    top: 35%
}

.request-form-panel #z_crmwebform .zgdprform-state-container {
    margin: 0
}

.request-form-panel #z_crmwebform input#formsubmit {
    background: none repeat scroll 0 0 #f0483e;
    border: 1px solid #f0483e !important;
    color: #fff;
    width: auto;
    padding: 10px 30px;
    margin: 0;
    font-size: 16px;
    border-radius: 3px;
    cursor: pointer;
    text-align: center;
    text-indent: 0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none
}

.button-box {
    text-align: center
}

.form-open .request-form-panel {
    right: 0
}

body.form-open {
    overflow: hidden
}

.request-form-panel .header h2 {
    font-size: 25px;
    margin-bottom: 30px;
    max-width: 313px
}

.request-form-panel .header {
    box-shadow: none
}

.form-panel .close-btn {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
    cursor: pointer
}

.form-panel .close-btn:before,.form-panel .close-btn:after {
    content: '';
    width: 15px;
    height: 2px;
    background-color: #000;
    position: absolute
}

.form-panel .close-btn:after {
    transform: rotate(90deg)
}

.request-form-panel #z_crmwebform input.error,.request-form-panel #z_crmwebform textarea.error {
    margin-bottom: 0
}

.request-form-panel #z_crmwebform input.error+.error,.request-form-panel #z_crmwebform textarea.error+error {
    margin-bottom: 30px;
    display: inline-block;
    color: red;
    font-size: 14px
}

.request-form-panel .captcha-box img {
    width: 80%
}

.thankyou-mesg {
    z-index: 9999;
    width: 400px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #4f8a10;
    text-align: center;
    padding: 0 30px;
    transition: all .5s;
    opacity: 0;
    visibility: hidden
}

.request-form-panel #z_crmwebform .zgdprform-opt-container #zcf_consent {
    width: auto;
    display: inline-block;
    margin: 20px 10px 0 0
}





@media only screen and (max-width: 480px) {
    .all-features ul.menu li {
        width:100%;
        text-align: center;
        display: inline-block
    }
}

.other-lang .promo-section-wrap .customer-stories,.other-lang .request-drop-wrap {
    display: none
}

.other-lang .footer-sec-wrap.two-column .promo-section-wrap {
    width: 20%
}

@media only screen and (max-width: 991px) {
    .other-lang .footer-sec-wrap.two-column .content-wrap>div.promo-section-wrap {
        display:none
    }

    .customer-stories a+a img {
        margin-left: 0
    }
}

.node-type-zp-home .signup_frm .sgfrm .field-msg {
    margin-bottom: 5px
}

.features-item.bottom-image .image-part,.features-item.middle-image .image-part {
    display: block;
    margin: 40px auto 
}

.features-item .cont-part h2,.features-item .cont-part h2 a,.features-item .content-wrap h2,.features-item .content-wrap h2 a {
    font-weight: 400
}

.body-help-pages .zp-helpimg {
    width: 680px
}

.body-help-pages .pn {
    display: none
}

.main-content .content-panel a.forum-link {
    display: inline-block;
    padding: 2px 5px;
    background: #f9f2f4;
    color: #c7254e
}

.helpful-wrap {
    display: none
}

.help-content-inner-wrap img {
    border: 1px solid #e4e4e4
}

.help-content-inner-wrap .has-inline-img img {
    margin: 3px 0;
    border: 0
}

.video-img-container {
    cursor: pointer;
    max-width: 350px;
    position: relative;
    width: 100%;
    line-height: 0
}

.video-img-container:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: ""
}

.video-img-container img {
    width: 100%;
    vertical-align: top;
    box-shadow: 0 0 15px 0 rgba(0,0,0,0.2)
}

.videoplay-circle {
    background: rgba(0,0,0,0.4) none repeat scroll 0 0;
    border: 1px solid white;
    border-radius: 100%;
    display: inline-block;
    height: 45px;
    left: 44%;
    position: absolute;
    top: 41%;
    width: 45px;
    z-index: 1
}

.videoplay-circle:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: rgba(194,225,245,0) rgba(194,225,245,0) rgba(194,225,245,0) #fff;
    border-image: none;
    border-style: solid;
    border-width: 8px;
    content: " ";
    height: 0;
    left: 44%;
    margin-top: -5px;
    pointer-events: none;
    position: absolute;
    top: 44%;
    width: 0
}

.video-img-container .video-text {
    bottom: 65px;
    position: relative;
    z-index: 1;
    text-align: center;
    display: block;
    color: #333;
    text-shadow: 0 0 15px rgba(0,0,0,0.4)
}

.video-player {
    background: rgba(255,255,255,0.95);
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999
}

.video-player .icon-close {
    background-image: url(/shrvembhu.svg);
    background-position: -200px -105px;
    background-repeat: no-repeat;
    text-indent: -999em;
    display: inline-block;
    border-radius: 4px;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 36px;
    position: absolute;
    right: 15px;
    text-align: center;
    top: 10px;
    transition: all .3s ease-out 0;
    width: 45px;
    z-index: 100
}

.video-player .player {
    height: 100%;
    padding: 100px;
    position: relative;
    width: 100%;
    box-sizing: border-box
}

.video-player iframe {
    background: none repeat scroll 0 0 #000;
    display: block;
    height: 100%;
    margin: 0 auto;
    position: relative;
    width: 100%
}

.video-player iframe.playing {
    animation: videoShow .4s ease forwards;
    -webkit-animation: videoShow .4s ease forwards;
    -moz-animation: videoShow .4s ease forwards;
    -o-animation: videoShow .4s ease forwards;
    -ms-animation: videoShow .4s ease forwards;
    z-index: 99
}

.all-features .pane-content.four-column {
    display: table;
    table-layout: fixed;
    width: 100%
}

.all-features .pane-content>div {
    display: table-cell;
    padding: 0 40px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-width: 240px
}

.all-features ul.menu {
    padding: 0;
    margin: 10px auto;
    float: none;
    max-width: none;
    width: 100%;
    display: block;
    overflow: hidden
}

.all-features ul.menu li {
    width: 100%;
    min-height: 40px;
    margin-bottom: 0;
    box-sizing: border-box;
    float: none
}

.all-features h2,.all-features h3 {
    max-width: 100%;
    width: 100%
}

.pane-content a.active {
    position: relative;
    padding-right: 0 !important;
    overflow: hidden
}

.pane-content a.active:after {
    content: '';
    width: 100%;
    height: 1px;
    background: #03a9f5;
    position: absolute;
    bottom: 15px;
    left: 15px
}






